.home-view {
  -moz-column-count: 1 !important;
  column-count: 1 !important;
  -moz-row-gap: 1.25rem;
  row-gap: 1.25rem;
  @media (min-width: 800px) {
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }

  .yt-embed {
    margin-bottom: 15px;
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
    @supports not (aspect-ratio: 1) {
      position: relative;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
