.servers-view {
  table {
    width: auto;
    display: inline-block;
    thead {
      th {
        position: sticky !important;
        top: 0;
        background-color: white;
        z-index: 999;
        border-top: 0;
      }
    }
    tbody {
      td { vertical-align: middle; }

      .td-server {
        .host, .ip, .port { font-family: monospace; }
        @media (min-width: 576px) {
          .host::before { content: 'Host: '; font-family: $smoo-default-font; font-weight: bold; font-size: 0.75em; opacity: 0.25; }
          .ip::before   { content: 'IPv4: '; font-family: $smoo-default-font; font-weight: bold; font-size: 0.75em; opacity: 0.25; }
          .port.default { display: block !important; }
        }
        .port::before { content: 'Port: '; font-family: $smoo-default-font; font-weight: bold; font-size: 0.75em; opacity: 0.25; }
        .port.default { opacity: 0.5; display: none; &::before { opacity: 0.5; } }
        .host + .ip { opacity: 0.5; &::before { opacity: 0.5; } }
      }

      .td-location {
        > div {
          display: flex;
          text-align: left;
          justify-content: flex-start;
          align-items: center;
          > .flag-icon { margin-right: 0.5em; margin-top: -0.2em; }
        }
      }

      .td-version {
        .details {
          font-size: 1.5em;
          color: orange;
        }
      }
    }

    @media (max-width: 700px) {
      td.td-location span.name { display: none; }

      th, td { padding: 0.3rem; }
    }

    th.th-location {
      .location-short { display: none; }
      @media (max-width: 700px) {
        .location-long { display: none; }
        .location-short { display: unset; }
      }
    }
  }
}
