@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";


$bg-1: #0d1117;
$text-1: #c9d1d9;

$bg-2: #1c222b;
$text-2: #9ea5ae;
$bord-2: #30363d;

$bg-3: black;
$text-3: white;

$text-head: #1f96ad;
$bg-accordion: rgba(blue, 0.1);


body.smoo-dark-mode {
  color: $text-1;
  background-color: $bg-1;

  kbd {
    color: $text-1;
    background-color: $bg-3;
  }

  hr {
    border-color: rgba($text-1, 0.1);
  }

  .alert-warning {
    color: rgba(hsla(45deg, 24%, 47%), 1.0);
    background-color: rgba(hsla(46deg, 100%, 10%), 1.0);
    border-color: rgba(hsla(45deg, 100%, 16%), 1.0);
  }

  .alert-info {
    color: rgba(hsla(189deg, 20%, 45%), 1.0);
    background-color: rgba(hsla(189deg, 53%, 12%), 1.0);
    border-color: rgba(hsla(188deg, 53%, 17%), 1.0);
  }

  .card {
    color: $text-2;
    background-color: $bg-2;
    border-color: $bord-2;
    .card-header {
      background-color: rgba($bg-3, 0.2);
      border-color: $bord-2;
    }
  }
  .smoo-accordion.accordion {
    .card .collapse.show {
      background-color: $bg-2;
    }
    .card-header {
      &.not-collapsed {
        background-color: $bg-accordion;
      }
    }
  }


  .modal-content {
    color: $text-2;
    background-color: $bg-2;
  }
  .close {
    color: $text-1;
    text-shadow: 0 1px 0 $text-2;
  }

  .table {
    color: $text-2;
    color: unset;
    th, td {
      border-color: rgba($text-1, 0.1);
    }
    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba($bg-1, 0.5);
    }
    &.b-table {
      > thead > tr, > tfoot > tr {
        $smoo-unsorted: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='#{$text-2}' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/></svg>") !default;
        $smoo-ascending:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='#{$text-2}' d='M51 1l25 23 24 22H1l25-22z'/><path fill='#{$text-2}' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/></svg>") !default;
        $smoo-descending: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'><path fill='#{$text-2}' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/><path fill='#{$text-2}' d='M51 101l25-23 24-22H1l25 22z'/></svg>") !default;
        > [aria-sort="none"]       { background-image: escape-svg($smoo-unsorted); }
        > [aria-sort="ascending"]  { background-image: escape-svg($smoo-ascending);  }
        > [aria-sort="descending"] { background-image: escape-svg($smoo-descending); }
      }
    }
  }
  .servers-view {
    color: $text-2;
    table {
      thead {
        th {
          background-color: $bg-1;
        }
      }
      &.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba($bg-2, 0.25);
      }
    }
  }
  .state-component.unknown {
    color: $text-2;
  }
  .smoo-server-players {
    .name img.tag-icon { filter: brightness(0.65); }
  }

  .smoo-view-host-commands {
    .card-body > div, .card-body .sub-commands > div {
      &:not(:first-child) {
        border-top: 1px solid rgba(white, 0.05);
      }
    }
  }


  header {
    nav {
      .navbar-toggler {
        border-color: $bord-2;
        .navbar-toggler-icon {
          $smoo-toggler: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$text-head}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
          background-image: escape-svg($smoo-toggler);
        }
      }
      #navigation.show {
        border-color: $bord-2;
        > ul > li.nav-item:not(:last-child) {
          border-color: $bord-2;
        }
      }
      ul.nav-pills .show > .nav-link {
        background-color: $bg-2;
      }
      a:not(.disabled) {
        color: $text-head !important;
        &:hover {
          color: $text-1 !important;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: $bg-1;
    border-color: rgba($bord-2, 0.75);

    .dropdown-item {
      &:hover, &:focus {
        background-color: rgba($text-3, 0.05);
      }
      &.active, &:active {
        background-color: rgba($text-head, 0.1);
      }
      &.disabled, &:disabled {
        color: rgba($text-2, 0.5);
      }
    }
  }


  .smoo-btn {
    span, svg {
      color: $text-1;
      background-color: $bg-3;
      border-color: $text-1;
    }
  }
}
