@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

@import "./accordion";
@import "./cards";
@import "./code";
@import "./links";

ul {
  padding-left: 1em;
  margin-bottom: 0;
}

.b-tooltip > .tooltip-inner {
  text-align: left;
  p:last-child {
    margin-bottom: 0;
  }
}
