@import "./dark-mode";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

@import "./accordion";
@import "./cards";
@import "./code";
@import "./links";

ul {
  padding-left: 1em;
  margin-bottom: 0;
  &.ul-icons {
    padding-left: 0;
    list-style-type: none;
  }
}

.b-tooltip > .tooltip-inner {
  text-align: left;
  p:last-child {
    margin-bottom: 0;
  }
}
